*{
    background: #ddd;
    color: #222
}

nav{
    display: flex;
    align-items: center;
    background: #aaa
}

.nav-item{
    display:flex;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    background: #aaa;
    color:aliceblue
}

.mapBox{
    display: flex;
    justify-content: center;
    height: 100%
}

.mapLeft{
    display: flex;
    margin: 0 20px;
    width:25vw
}

.mapRight{
    display: flex;
    width: 75vw;
    height: 500px;
}

.fastest{
    color: limegreen
}

/* .driverNames{
    visibility:hidden
}

.driverNames:hover{
    visibility:visible
} */