*{
    background: #ddd;
    color: #222
}

nav{
    display: flex;
    align-items: center;
    background: #aaa;
    /* width: 100vw; */
}

.nav-item{
    display:flex;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    background: #aaa;
    color:aliceblue
}

.float-right{
    position:relative;
    background: #aaa;
    margin-left: auto;
    margin-right: 25px;
}

.gh-logo{
    background: #aaa;
}

.mapBox{
    display: flex;
    justify-content: center;
    height: 100%
}

.mapLeft{
    display: flex;
    margin: 0 20px;
    width:25vw
}

.mapRight{
    display: flex;
    width: 75vw;
    height: 500px;
}

.fastest{
    color: limegreen;
}

.marginTop{
    margin-top: 12px;
}

.emojis{
    display:inline-block;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hidden{
    display: none;
}

/* .driverNames{
    visibility:hidden
}

.driverNames:hover{
    visibility:visible
} */